<div class="alert alert-success mt-2" *ngIf="_utilitiesService.alertSuccess" role="alert">
  {{_utilitiesService.alertSuccess}}
</div>

<div class="alert alert-danger mt-2" *ngIf="_utilitiesService.alertError" role="alert">
  {{_utilitiesService.alertError}}
</div>

<div class="text-center mt-2" *ngIf="_utilitiesService.loading">
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container mt-2 mb-2">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-12">
      <div class="card formcard px-5">
        <form [formGroup]="newUserForm">

          <h5>Registrate para acceder a toda la funcionalidad de Culturaxya</h5>

          <div class="form-group">
            <label>Nombre de usuario:</label>
            <div class="form-input"> <i class="fa-grey fas fa-user"></i><input type="text"
                class="form-control" formControlName="username" />
            </div>
          </div>

          <div class="form-group">
            <label>Email:</label>
            <div class="form-input"> <i class="fa-grey fa fa-envelope"></i><input type="email"
                class="form-control" formControlName="email" />
            </div>
          </div>

          <div class="alert alert-danger"
            *ngIf="newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched"
            role="alert">
            Revisa la dirección de mail, no parece válidad.
          </div>


          <div class="form-group">
            <label>Password:</label>
            <div class="form-input"> <i class="fa-grey fa fa-lock"></i><input type="password"
                class="form-control" formControlName="password" />
            </div>
          </div>

        </form>

        <button class="btn btn-primary mt-2" (click)="register()"
          [disabled]="newUserForm.invalid">Registrarse</button>
        <div class="text-center mt-2">
          <div>¿Ya estas registrado? <button class="btn btn-secondary m-2" [routerLink]="['/login']"
              [skipLocationChange]="true">Login</button></div>
        </div>
      </div>
    </div>
  </div>
</div>