<div class="text-center p-3">

  <div *ngIf="_userService.user?.isRegistered">
    <h6>
      Bienvenido {{_userService.user?.username}} ahora
      ya puedes guardar tu progreso en Culturaxya.
    </h6>
  </div>

  <div *ngIf="!_userService.user?.isRegistered">
    <h4>Identificate o registrate para guardar tu progreso, pero si lo
      prefieres puedes continuar como {{_userService.user?.username}}</h4>
    <button class="btn btn-primary me-2" [routerLink]="['/login']">Login</button>
    <button class="btn btn-primary me-2" [routerLink]="['/register']">Registro</button>
    <button class="btn btn-primary" [routerLink]="['/start']">Seguir como
      {{_userService.user?.username}}</button>
  </div>
  <button *ngIf="_userService.user?.isRegistered" class="btn btn-primary"
    [routerLink]="['/start']">Continuar</button>







  <!-- identifyModal -->
  <div class="modal fade" id="identifyModal" tabindex="-1" aria-labelledby="identifyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="identifyModalLabel">Identificación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <h6>Identificate o registrate para acceder desde un mismo lugar a todos las columnas de
            opinión.</h6>
          <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
            [routerLink]="['/login']">Login</button>
          <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
            [routerLink]="['/register']">Registro</button>
          <button class="btn bg-secondary m-2" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>