<div *ngIf="uuid">
  <div class="text-center mt-2" *ngIf="_utilitiesService.loading">
    <div class="spinner-border" role="status">
    </div>
  </div>

  <div class="text-center mt-2" *ngIf="!_utilitiesService.loading">

    <div class="alert alert-success" role="alert" *ngIf="confirmMailMessageSuccess">
      {{ confirmMailMessageSuccess}}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="confirmMailMessageDanger">
      {{ confirmMailMessageDanger}}
    </div>
    <button class="btn btn-primary" [routerLink]="['/']" (click)="uuid=''">Volver a la home</button>
  </div>
</div>


<div *ngIf="!uuid">
  <div class="text-center p-3">

    <div *ngIf="_userService.user?.isRegistered">
      <h6>
        Bienvenido {{_userService.user?.username}} ahora
        ya puedes guardar tu progreso en Culturaxya.
      </h6>
    </div>

    <div *ngIf="!_userService.user?.isRegistered">
      <h4>Identificate o registrate para guardar tu progreso, pero si lo
        prefieres puedes continuar como {{_userService.user?.username}}</h4>
      <button class="btn btn-primary  m-1" [routerLink]="['/login']"
        [skipLocationChange]="true">Login</button>
      <button class="btn btn-primary  m-1" [routerLink]="['/register']"
        [skipLocationChange]="true">Registro</button>
      <button class="btn btn-primary m-1" [routerLink]="['/start']"
        [skipLocationChange]="true">Seguir
        como
        {{_userService.user?.username}}</button>
    </div>
    <button *ngIf="_userService.user?.isRegistered" class="btn btn-primary"
      [routerLink]="['/start']" [skipLocationChange]="true">Continuar</button>
  </div>